#navigation{
    position: absolute;
    top: 0;
    left: 0;
    height: 5vh;
    width: 100vw;
    background-color: black;
}

#menu img{
    height: 5vh;
}

#test_area{
    position: relative;
    left: 50%;
    top: 0;
    transform: translate(-50%);
}

button{
    border: none;
    background: none;
}