#navigation{
    position: absolute;
    top: 0;
    left: 0;
    height: 5vh;
    width: 100vw;
    background-color: black;
}

#menu img{
    height: 5vh;
}

#test_area{
    position: absolute;
    left: 50%;
    top: .6vh;
    transform: translate(-50%);
}

#text-area{
    border: none;
    border-radius: 10px;
    height: 3vh;
    width: 40vw;
    background-color: black;
}
#text-area:hover{
    animation: .5s ease-in-out text-area;
    background-color: white;
}
#text-area:hover:not(:hover){
    animation: .5s ease-in-out text-area_r;
    background-color: black;
}
#text-area:focus{
    animation: .5s ease-in-out text-area;
    background-color: white;
}
#text-area:focus:not(:focus){
    animation: .5s ease-in-out text-area_r;
    background-color: black;
}
@keyframes text-area{
    0% {
       background-color: black;
    }
    100% {
       background-color: white;
    }
}
@keyframes text-area_r{
    0%{
        background-color: white;
    }
    100%{
        background-color: black;
    }
}

button{
    border: none;
    background: none;
}