body {margin-top:0px;margin-left:0px}
.hide {
    display:inline-flex;
    border-color:white;
    height:20px;
    border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    background:#9b8d8d;
    top: 0px;
    flex: 1 auto;
    text-align: center;
    font-size: 15px;
}
.show {
    Visibility:show;
}
#up {
    width: 100vw;
    height: 50px;
    background: black;
}
.plus {
    font-size: 30px;
    float: left;
    position: fixed;
    top: -8px;
    right: 4px;
    border: none;
    height: 28px;
    color: white;
    background:black;
    width:2vw;
}
.option {
    font-size: 30px;
    float: left;
    position: fixed;
    top: -8px;
    right: 0px;
    background: none;
    border: none;
    height: 28px;
    color: white;
    background:black;
    width:4.5vw;
}
#tab::-webkit-scrollbar {
    height: 0px;              /* height of horizontal scrollbar ← You're missing this */
    width: 0px;               /* width of vertical scrollbar */
    border: hidden;
  }
#tab {
    background:black;
    width:95.5vw;
    height:20px;
    overflow: auto;
    white-space: nowrap;
}
.active{
    display:inline-flex;
    border-color:white;
    height:20px;
    border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    background:#3d3d3d;
    border: 2px solid #383838;
    top: 0px;
    flex: 1 auto;
    text-align: center;
    font-size: 15px;
}
.reseach {
    position: fixed;
    top: 20px;
    background: #3d3d3d;
    border: none;
    width: 113.5vw;
    height: 30px;
}
.reseach_bar {
    position: fixed;
    top: 24px;
    background: none;
    border: none;
    width: 113.5vw;
}
.window {
    display:block;
    color:white;
    text-align:center;
    margin-top:2px;
    margin-left: 0px;
    width:100vw;
    height:93vh;
    background:gray;
    position: fixed;
    top: 48px;
}
#navigator iframe{
    border:none;
}
/* search bar V2 */
#inputs {
    border: none;
    border-radius: calc(0.5 * 44px);
    font-size: 16px;
    outline: none;
}

/* grid */
#inputs {
    display: grid;
    grid-template-columns: repeat(3, 5%) 85%;
    grid-template-rows: 38px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
#old { grid-area: 1 / 1 / 2 / 2; }
#new { grid-area: 1 / 2 / 2 / 3;transform: scaleX(-1);}
#refresh { grid-area: 1 / 3 / 2 / 4; }
#inpuVt2 { grid-area: 1 / 4 / 2 / 5; }
/* grid end */ 
#inpuVt2 {
    border: none;
    border-radius: calc(0.5 * 44px);
    font-size: 16px;
    outline: none;
    padding-inline-end: 9px;
    padding-inline-start: 9px;
    width: 86%;
    height: 20px;
}

/* search bar V2 end */

/* search bar */
#input {
    border: none;
    border-radius: calc(0.5 * 44px);
    font-size: 16px;
    outline: none;
    position: relative;
}

#inputb {
    border: none;
    border-radius: calc(0.5 * 44px);
    font-size: 16px;
    outline: none;
    padding-inline-end: 40px;
    padding-inline-start: 20px;
    width: 80%;
    height: 44px;
}

#inputimg {
    position: absolute;
    right: 0;
    top: -2.5px;
    bottom: 0;
    display: flex;
    align-self: center;
    padding-right: 14px;
    outline: none;
}


/* search bar end */

#iframe_error {
    color:red;
    font-size:30px;
}

.active button {
    text-align: right;
    font-size: 14px;
    color: white;
    border: none;
    background: none;
}
.buttab {
    text-align: left;
    font-size: 14px;
    color: white;
    border: none;
    background: none;
}
.hide button {
    text-align: right;
    font-size: 14px;
    color: white;
    border: none;
    background: none;
}
.active button {
    text-align: right;
    font-size: 14px;
    color: white;
    border: none;
    background: none;
}

.close {
    font-size: 25px;
    float: left;
    position: fixed;
    top: -7px;
    right: 2vw;
    background: none;
    border: none;
    height: 28px;
    color: white;
    background:black;
    width:2vw;
}


/* right click menu */

#context-menu{
    position: absolute;
    border: 1px solid #d3d3d3;
    background-color: #e3e3e3;
    padding: 10px 0;
    z-index: 100000;
    display: none;
}

#context-menu.click_active{
    display: initial;
}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li{
    cursor: pointer;
}

.menu-item{
    padding: 0 10px;
}

.menu-item:hover{
    background-color: #d3d3d3;
}

.menu-separator{
    height: 1px;
    background-color: grey;
    margin: 5px 0;
}
.menu-separator-information{
    padding: 0 10px;
    margin: 5px 0;
}

.menu-active {
    background-color: #d3d3d3;
}
/* right click menu end */
