body {margin-top:0px;margin-left:0px}
.hide {
    display:table-cell;
    border-color:white;
    max-width:53px;
    height:20px;
    border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    background:#9b8d8d;
    top: 0px;
    flex: 1 auto;
    text-align: center;
    font-size: 15px;
}
.show {
    Visibility:show;
}
#up {
    width:98vw;
}
.plus {
    font-size: 30px;
    float: left;
    position: fixed;
    top: -8px;
    right: 4px;
    border: none;
    height: 28px;
    color: white;
    background:black;
    width:2vw;
}
.option {
    font-size: 30px;
    float: left;
    position: fixed;
    top: -8px;
    right: 0px;
    background: none;
    border: none;
    height: 28px;
    color: white;
    background:black;
    width:4.5vw;
}
#tab {
    background:black;
    width:95.5vw;
    height:20px;
}
.active{
    display:table-cell;
    border-color:white;
    max-width:53px;
    height:20px;
    border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    background:#808080;
    top: 0px;
    flex: 1 auto;
    text-align: center;
    font-size: 15px;
}
.window {
    display:block;
    color:white;
    text-align:center;
    margin-top:2px;;
    margin-left: 0px;
    width:100vw;
    height:100vh;
    background:gray;
    position: fixed;
    top: 18px;
}
#navigator iframe{
    border:none;
}
/* search bar */
#input {
    border: none;
    border-radius: calc(0.5 * 44px);
    font-size: 16px;
    outline: none;
    position: relative;
}

#inputb {
    border: none;
    border-radius: calc(0.5 * 44px);
    font-size: 16px;
    outline: none;
    padding-inline-end: 40px;
    padding-inline-start: 52px;
    position: relative;
    width: 80%;
    height: 44px;
}

#inputimg {
    position: absolute;
    left: 0;
    top: -1px;
    padding-left: 14px;
    outline: none;
}


/* search bar end */

#iframe_error {
    color:red;
    font-size:30px;
}

.active button {
    text-align: right;
    font-size: 14px;
    color: white;
    border: none;
    background: none;
}
.buttab {
    text-align: left;
    font-size: 14px;
    color: white;
    border: none;
    background: none;
}
.hide button {
    text-align: right;
    font-size: 14px;
    color: white;
    border: none;
    background: none;
}
.active button {
    text-align: right;
    font-size: 14px;
    color: white;
    border: none;
    background: none;
}

.close {
    font-size: 25px;
    float: left;
    position: fixed;
    top: -7px;
    right: 2vw;
    background: none;
    border: none;
    height: 28px;
    color: white;
    background:black;
    width:2vw;
}


/* right click menu */

#context-menu{
    position: absolute;
    border: 1px solid #d3d3d3;
    background-color: #e3e3e3;
    padding: 10px 0;
    z-index: 100000;
    display: none;
}

#context-menu.click_active{
    display: initial;
}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item{
    padding: 0 10px;
}

.menu-item:hover{
    background-color: #d3d3d3;
}

.menu-separator{
    height: 1px;
    background-color: grey;
    margin: 5px 0;
}
.menu-separator-information{
    padding: 0 10px;
    margin: 5px 0;
}
/* right click menu end */
